<?xml version='1.0' encoding='utf-8'?>
<widget id="com.faust93.galerun" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Galerun</name>
    <description>
        Galerun Client App
    </description>
    <author email="monumentum@gmail.com" href="https://svr4.ru">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" subdomains="true" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-app-preferences" spec="https://github.com/vash15/me.apla.cordova.app-preferences" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-mediapicker-dmcsdk" spec="https://github.com/DmcSDK/cordova-plugin-mediaPicker.git" />
    <plugin name="cordova-plugin-android-permissions" spec="^1.0.0" />
    <plugin name="cordova-plugin-web-share" spec="1.2.0" />
    <engine name="browser" spec="^6.0.0" />
    <engine name="android" spec="~8.0.0" />
</widget>
